@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* neutral */
  --vdb: hsl(234, 12%, 34%);
  --gb: hsl(229, 6%, 66%);
  --vlg: hsl(0, 0%, 98%);
}
* {
  font-size: 15px;
  color: var(--gb);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--vlg);
  padding-top: 40px;
  text-align: center;
}
.mainCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-1 {
  font-size: 2rem;
  color: var(--vdb);
}
.text-2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--vdb);
  margin-bottom: 15px;
}
.text-3 {
  width: 480px;
  margin: auto;
  margin-bottom: 40px;
}
.gridCont {
  max-width: 1100px;
  width: 90%;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: repeat(2, auto);
  justify-content: center;
}
.gridItem {
  max-width: 320px;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
  text-align: left;
  box-shadow: 5px 5px 10px var(--gb);
}
.item-head {
  color: var(--vdb);
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.item-text {
  margin-bottom: 35px;
  font-size: 0.9rem;
}
.gridItem img {
  width: 60px;
  text-align: right;
}
.supervisor {
  border-top: 4px solid var(--Cyan);
  grid-column: 1;
  grid-row: 1 / span 2;
  align-self: center;
}
.builder {
  border-top: 4px solid var(--red);
  grid-column: 2 / span 2; /* Spans two columns */
  grid-row: 1;
}
.karma {
  grid-column: 2;
  grid-row: 2;
  border-top: 4px solid var(--orange);
}
.calculator {
  grid-column: 3;
  grid-row: 1 / span 2;
  border-top: 4px solid var(--blue);
  align-self: center;
}
@media (max-width: 1000px) {
  .gridCont {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .builder,
  .calculator,
  .karma,
  .supervisor {
    grid-column: auto;
    grid-row: auto;
    justify-self: center;
  }
}
@media (max-width: 720px) {
  .gridCont {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .builder,
  .calculator,
  .karma,
  .supervisor {
    grid-column: auto;
    grid-row: auto;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
